@font-face {
    font-family: Lexend;
    src: url(Fonts/Lexend/Lexend-VariableFont_wght.ttf);
}

body {
    background-color: black;
    font-family: Lexend;
    color: white;

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header {
    background-image: url("Img/bg.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
    margin: 0px;

    text-align: center;
}

main {
    background-color: rgba(0,0,0,0.5);

    padding: 100px;
    margin: 0px;
}

@media screen and (max-width: 1200px) {
    header {
        background-image: url("Img/bg.png");
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        padding: 100px;
        margin: 0px;
    
        text-align: center;
    }

    h1 {
        font-size: 20px;
    }
    
    main {
        background-color: rgba(0,0,0,0.5);
        font-size: 14px;
        
        padding: 30px;
    
        padding: 100px;
        margin: 0px;
    }      
}
